.social-media {
  margin-top: 30px;
}

.social-media a {
  margin-right: 10px;
}

.field:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 10px 0;
    position: fixed;
    width: 100%;
  }
}