body, html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.section.app {
  background-color: #F62459;
  background-image: linear-gradient(rgba(154, 18, 179, 0.6),rgba(0, 76, 102, 0.6)),linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
}
.stat-tile {
	padding: 30px 0;
}
.stat-tile .title {
	font-size: 40px;
}
.stat-tile .subtitle {
	color: rgba(255,255,255,0.6);
	padding-top: 10px;
}
.tile.is-primary.stat-tile {
    background-image: linear-gradient(rgba(25, 181, 254, 0.7),rgba(25,181,254, 0.4)),linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4));
}