body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.has-text-muted {
  color: #ABB7B7;
}
.hero {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  padding: 5vw 2em;
  text-align: center;
}
.hero .title {
  font-size: 3em;
}
.hero .subtitle {
  font-size: 1.6em;
}
.hero.header-photo {
  background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('https://placehold.it/800x300');
}
.section .blog {
  background-color: transparent;
}
.blog-post {
  font-size: 18px;
  line-height: 1.9;
}