<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Simple Blog - Free Bulma template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="../css/simple-blog.css">
</head>
<body>
  <nav class="nav has-shadow" id="top">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="../index.html">
          <img src="../images/bulma.png" alt="Description">
        </a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab is-active">
          Home
        </a>
        <a class="nav-item is-tab">
          Features
        </a>
        <a class="nav-item is-tab">
          Team
        </a>
        <a class="nav-item is-tab">
          Help
        </a>
        <span class="nav-item">
          <a class="button">
            Log in
          </a>
          <a class="button is-info">
            Sign up
          </a>
        </span>
      </div>
    </div>
  </nav>
  <section class="hero is-default is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          John Smiths Blog
        </h1>
        <h2 class="subtitle">
          I am a human, from the planet Earth in Sol.
        </h2>
      </div>
    </div>
  </section>
  <section class="section blog">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-8 is-offset-2">
        <div class="notification is-danger">
          <button class="delete" onclick="((this).parentNode.remove())"></button>
          This template is not yet finished, it may change. Please check the readme for more information.
        </div>
          <!-- START BLOG POST CARD -->
          <div class="card is-fullwidth">
            <header class="card-header">
              <div class="card-header-title">
                <p>published 2 days ago</p>
              </div>
            </header>
            <section class="hero is-info is-small header-photo">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">
                    Looking ahead/behind
                  </h1>
                  <h2 class="subtitle">
                    A story about substring search
                  </h2>
                </div>
              </div>
            </section>
            <p class="has-text-centered">Photo Credit: <a href="https://unsplash.com/@nasa">NASA</a> via <a href="https://unsplash.com/?photo=6-jTZysYY_U">unsplash</a></p>
            <div class="card-content">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                    <p class="has-text-centered">
                      <a href="#">Read More...</a>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <section class="section"></section>
          <!-- END BLOG POST CARD -->

          <!-- START BLOG POST CARD -->
          <div class="card is-fullwidth">
            <header class="card-header">
              <div class="card-header-title">
                <p>published 2 days ago</p>
              </div>
            </header>
            <section class="hero is-info is-small header-photo">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">
                    A journey through JWT
                  </h1>
                  <h2 class="subtitle">
                    JSON Web Tokens, are they the future?
                  </h2>
                </div>
              </div>
            </section>
            <p class="has-text-centered">Photo Credit: <a href="https://unsplash.com/@nasa">NASA</a> via <a href="https://unsplash.com/?photo=6-jTZysYY_U">unsplash</a></p>
            <div class="card-content">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                    <p class="has-text-centered">
                      <a href="#">Read More...</a>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <section class="section"></section>
          <!-- END BLOG POST CARD -->

          <!-- START BLOG POST CARD -->
          <div class="card is-fullwidth">
            <header class="card-header">
              <div class="card-header-title">
                <p>published 2 days ago</p>
              </div>
            </header>
            <section class="hero is-info is-small header-photo">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">
                    Who really owns example.org?
                  </h1>
                  <h2 class="subtitle">
                    Spoiler: /etc/hosts
                  </h2>
                </div>
              </div>
            </section>
            <p class="has-text-centered">Photo Credit: <a href="https://unsplash.com/@nasa">NASA</a> via <a href="https://unsplash.com/?photo=6-jTZysYY_U">unsplash</a></p>
            <div class="card-content">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                    <p class="has-text-centered">
                      <a href="#">Read More...</a>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <section class="section"></section>
          <!-- END BLOG POST CARD -->

          <!-- START BLOG POST CARD -->
          <div class="card is-fullwidth">
            <header class="card-header">
              <div class="card-header-title">
                <p>published 2 days ago</p>
              </div>
            </header>
            <section class="hero is-info is-small header-photo">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">
                    A tribute to unsplash
                  </h1>
                  <h2 class="subtitle">
                    Such magnificent pictures to use in mockups
                  </h2>
                </div>
              </div>
            </section>
            <p class="has-text-centered">Photo Credit: <a href="https://unsplash.com/@nasa">NASA</a> via <a href="https://unsplash.com/?photo=6-jTZysYY_U">unsplash</a></p>
            <div class="card-content">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                    <p class="has-text-centered">
                      <a href="#">Read More...</a>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <section class="section"></section>
          <!-- END BLOG POST CARD -->





        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
        </p>
        <p>
          <a class="icon" href="https://github.com/jgthms/bulma">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
