<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cover - Free Bulma template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" integrity="sha256-spCEAaZMKebC3rE/ZTt8jITn65b0Zan45WXblWjyDyQ=" crossorigin="anonymous" />
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <div class="hero-head">
      <div class="container">
        <nav class="nav has-shadow">
          <div class="container">
            <div class="nav-left">
              <a class="nav-item" href="../index.html">
                <img src="../images/bulma.png" alt="Description">
              </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
              <a class="nav-item is-tab is-active">
                Home
              </a>
              <a class="nav-item is-tab">
                Features
              </a>
              <a class="nav-item is-tab">
                Team
              </a>
              <a class="nav-item is-tab">
                Help
              </a>
              <span class="nav-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a class="button">
                      Log in
                    </a>
                    <a class="button is-primary">
                      Sign up
                    </a>
                  </p>
                </div>
              </span>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image is-4by3">
              <img src="http://placehold.it/800x600" alt="Description">
            </figure>
          </div>
          <div class="column is-6 is-offset-1">
            <h1 class="title is-2">
              Superhero Scaffolding
            </h1>
            <h2 class="subtitle is-4">
              Let this cover page describe a product or service.
            </h2>
            <br>
            <p class="has-text-centered">
              <a class="button is-large">
                Learn more
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-foot">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li><a>And this at the bottom</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
