<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Grid Gallery - Free Bulma template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="../css/grid-gallery.css">
</head>
<body>
  <nav class="nav has-shadow" id="top">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="../index.html">
          <img src="../images/bulma.png" alt="Description">
        </a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab is-active">
          Home
        </a>
        <a class="nav-item is-tab">
          Features
        </a>
        <a class="nav-item is-tab">
          Team
        </a>
        <a class="nav-item is-tab">
          Help
        </a>
        <span class="nav-item">
          <a class="button">
            Log in
          </a>
          <a class="button is-info">
            Sign up
          </a>
        </span>
      </div>
    </div>
  </nav>
  <div class="section">
    <div class="container">
      <div class="columns">
      <div class="column is-8">
        <div class="title">Gallery</div>
      </div>
      <div class="column is-4 has-text-right">
      <a class="button is-active"><i class="fa fa-th title is-5"></i></a>
      <a class="button"><i class="fa fa-align-justify title is-5"></i></a>
      </div>
      </div>
      <hr>
      <div class="columns">
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
              <img src="https://placehold.it/300x300">
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">2 views</div>
                </div>
                <div class="column has-text-right">
                  <div class="panel-block-item">2 <i class="fa fa-heart"></i></div>
                  <div class="panel-block-item">2d <i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
        </p>
        <p>
          <a class="icon" href="https://github.com/jgthms/bulma">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
