<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>
    Login - Free Bulma template
  </title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.7.2-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet">
  <link href="../css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">
            Login
          </h3>
          <p class="subtitle has-text-grey">
            Please login to proceed.
          </p>
          <div class="box">
            <figure class="avatar">
              <img src="https://placehold.it/128x128">
            </figure>
            <form>
              <div class="field">
                <div class="control">
                  <input autofocus="" class="input is-large" placeholder="Your Email" type="email">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-large" placeholder="Your Password" type="password">
                </div>
              </div>
              <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>
              <button class="button is-block is-info is-large is-fullwidth">
                Login
              </button>
            </form>
          </div>
          <p class="has-text-grey">
            <a href="../">
              Sign Up
            </a>
            &nbsp;&middot;&nbsp;
            <a href="../">
              Forgot Password
            </a>
            &nbsp;&middot;&nbsp;
            <a href="../">
              Need Help?
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <script async="" src="../js/bulma.js" type="text/javascript">
  </script>
</body>
</html>
